<p data-translate="INFO_UPGRADE_INTRO"></p>

<h2>{{'LABEL_UPGRADE_LIMITS' | translate}}</h2>
<p>{{'INFO_NEED_MORE' | translate}}</p>
<table>
  <tr>
    <th class="text-left">{{'LABEL_DETAILS' | translate}}</th>
    <th class="text-center">{{'LABEL_FROM' | translate}}</th>
    <th class="text-center">{{'LABEL_TO' | translate}}</th>
  </tr>
  <tr>
    <td>{{'LABEL_MAX_GALLERIES' | translate}}</td>
    <td class="text-center">{{appSettings.maxGalleries}}</td>
    <td class="text-center">{{upgrade1.maxGalleries}}</td>
  </tr>
  <tr>
    <td>{{'LABEL_MAX_PHOTOS' | translate}}</td>
    <td class="text-center">{{appSettings.maxPhotos}}</td>
    <td class="text-center">{{upgrade1.maxPhotos}}</td>
  </tr>
</table>

<p data-ng-if="appSettings.maxGalleries == 1">
  <button class="btn--blue" data-ng-click="onUpgrade1BtnClick()">Buy upgrade for 1.00 €</button>
</p>
<p data-ng-if="appSettings.maxGalleries > 1">Thank you for your upgrade!</p>
<br/>

<h3 data-translate="LABEL_FEATURE_UPGRADE"></h3>
<p data-translate="DESC_UPGRADE_ALLOW_FOREIGN_UPLOADS"></p>
<table>
  <tr>
    <th class="text-left" data-translate="LABEL_DETAILS"></th>
    <th class="text-center" data-translate="LABEL_FROM"></th>
    <th class="text-center" data-translate="LABEL_TO"></th>
  </tr>
  <tr>
    <td>Feature: Gemeinsames bearbeiten</td>
    <td class="text-center">
      <span data-ng-if="appSettings.allowForeignUploads == false" data-translate="LABEL_OFF"></span>
      <span data-ng-if="appSettings.allowForeignUploads == true" data-translate="LABEL_ON"></span>
    </td>
    <td class="text-center" data-translate="LABEL_ON"></td>
  </tr>
</table>

<p data-ng-if="appSettings.allowForeignUploads == false">
  <button class="btn--blue" data-ng-click="onUpgrade2BtnClick()">Buy upgrade for 1.00 €</button>
</p>
<p data-ng-if="appSettings.allowForeignUploads == true" data-translate="SUCCESS_THANKS_FOR_UPGRADE"></p>