<h2>Feature upgrade: Gemeinsames bearbeiten</h2>

<p>Nach diesem Upgrade können Sie Ihre Fotorahmen für andere zur Bearbeitung freigeben.</p>
<p>Benutzer, mit denen Sie Ihren Fotorahmen teilen, können dann ebenfalls Fotos hinzufügen und löschen.</p>
<table>
  <tr>
    <th class="text-left">Upgrade</th>
    <th class="text-center">von</th>
    <th class="text-center">auf</th>
  </tr>
  <tr>
    <td>Feature: Gemeinsames bearbeiten</td>
    <td class="text-center">aus</td>
    <td class="text-center">ein</td>
  </tr>
  <tr>
    <td>Anzahl der Fotos je Fotorahmen</td>
    <td class="text-center">5</td>
    <td class="text-center">30</td>
  </tr>
</table>

<p>
  <button data-ng-click="onUpgrade2BtnClick()">Buy upgrade for 1.00 €</button>
</p>