<!--home view-->

<div class="top">
  <div class="top__background"></div>
  <div class="top__inner">
    <span class="icon icon--back" data-ng-click="go('/home', 'slide-right')"></span>
  </div>
</div>

<div class="center center--show-top">
  <div class="center__inner text-center">

    <h1>Enter Security-PIN</h1>

      <input class="form__text-input upload-pin-input"
             data-ng-class="{'error': uploadAuthError, 'success': uploadAuthSuccess}"
             style="width:200px;"
             type="password"
             data-ng-model="uploadPassword"/>

    <div class="text-center">
      <div
          data-number-pad-directive
          data-number-pad-input="uploadPassword"
          data-number-pad-submit="uploadAuthSubmit()">
      </div>
    </div>

  </div>
</div>

<div class="bottom">
  <div class="bottom__background"></div>
  <div class="bottom__inner"></div>
</div>

