<h2>{{'NAVI_ACCOUNT' | translate}}</h2>

<!-- if user already signed up -->
<div class="settings" data-ng-if="userName">

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label">{{'LABEL_YOUR_USERNAME' | translate}}</span>
      <span class="settings__item-value">{{userName}}</span>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">{{'LABEL_PASSWORD' | translate}}</span>
      <span class="settings__item-action" data-ng-click="go('settings/account/reset-pwd', '')">{{'ACTION_CHANGE_PASSWORD' | translate}}</span>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">{{'LABEL_LOGIN_WITH_DIFFERENT_USER' | translate}}</span>
      <a class="settings__item-action" data-ng-click="go('login', 'slide-left')">{{'NAVI_GO_LOGIN' | translate}}</a>
    </div>
  </div>

</div>

<!-- if user has not signed up/logged in yet -->
<div data-ng-if="!userName">
  <p>You do not have an account or have not logged in yet.</p>

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label">Create an account</span>
      <a class="settings__item-action" data-ng-click="go('signin', '')">Signin</a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">Use yout existing account</span>
      <a class="settings__item-action" data-ng-click="go('login', '')">{{'NAVI_GO_LOGIN' | translate}}</a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">Forgot your password?</span>
      <a class="settings__item-action"  data-ng-click="go('settings/account/reset-pwd', 'slide-left')">{{'ACTION_CHANGE_PASSWORD' | translate}}</a>
    </div>
  </div>

</div>