<h2 data-translate="TITLE_ACCOUNT"></h2>

<!-- if user already signed up -->
<div class="settings" data-ng-if="userName">

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_YOUR_USERNAME"></span>
      <span class="settings__item-value" data-ng-bind="userName"></span>
    </div>
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_PASSWORD"></span>
      <span class="settings__item-action"
            data-ng-click="go('settings/account/reset-pwd', '')"
          data-translate="ACTION_CHANGE_PASSWORD"></span>
    </div>
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_LOGIN_WITH_DIFFERENT_USER"></span>
      <a class="settings__item-action"
         data-ng-click="go('login', 'slide-left')" data-translate="NAVI_GO_LOGIN"></a>
    </div>
  </div>

</div>

<!-- if user has not signed up/logged in yet -->
<div data-ng-if="!userName">
  <p data-translate="INFO_NOT_LOGGED_IN"></p>

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_SIGNIN"></span>
      <a class="settings__item-action" data-ng-click="go('signin', 'slide-left')" data-translate="NAVI_GO_SIGNIN"></a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_LOGIN"></span>
      <a class="settings__item-action" data-ng-click="go('login', 'slide-left')" data-translate="NAVI_GO_LOGIN"></a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label" data-translate="LABEL_PASSWORD_FORGOTTEN"></span>
      <a class="settings__item-action"
         data-ng-click="go('settings/account/reset-pwd', '')"
          data-translate="ACTION_CHANGE_PASSWORD"></a>
    </div>
  </div>

</div>