<h2>Your account</h2>

<!-- if user already signed up -->
<div class="settings" data-ng-if="userName">

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label">Your username</span>
      <span class="settings__item-value">{{userName}}</span>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">Password</span>
      <a class="settings__item-action" href="#settings/account/reset-pwd">reset password</a>
    </div>
  </div>

</div>

<!-- if user has not signed up/logged in yet -->
<div data-ng-if="!userName">
  <p>You do not have an account or have not logged in yet.</p>

  <div class="settings__block">
    <div class="settings__item">
      <span class="settings__item-label">Create an account</span>
      <a class="settings__item-action" href="#signin">Signin</a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">Use yout existing account</span>
      <a class="settings__item-action" href="#login">Login</a>
    </div>
    <div class="settings__item">
      <span class="settings__item-label">Forgot your password?</span>
      <a class="settings__item-action" href="#settings/account/reset-pwd">Reset password</a>
    </div>
  </div>

</div>