<div class="top">
    <div class="top__inner">
        <h1 class="top__title">{{'TITLE_SHARING' | translate}}</h1>
        <span class="top__icon-back icon-back" data-ng-click="navigationService.go(appConstants.STATES.EDITGALLERY, 'slide-right', true)"></span>
    <span class="float-right" data-ng-click="navigationService.go(appConstants.STATES.SETTINGS_INTRO, 'slide-left')">
    <img style="width:30px; position:relative; top:-12px; cursor:pointer;" src="img/settings.png"/>
  </span>
    </div>
</div>

<div class="center center--show-top">
    <div class="center__inner">

        <div class="grid full-height">
            <div class="grid__item one-third full-height soft--right">

                <ul class="settings-menu">
                    <li class="settings-menu__item"
                        data-ng-class="{'active': sharingSection1 == 'sharing' || !sharingSection1}"
                        data-ng-click="navigationService.go(appConstants.STATES.SHAREGALLERY_SHARING, '')">{{'NAVI_SHARING_CREDENTIALS' | translate}}
                    </li>
                    <li class="settings-menu__item"
                        data-ng-class="{'active': sharingSection1 == 'options'}"
                        data-ng-click="navigationService.go(appConstants.STATES.SHAREGALLERY_OPTIONS, '')">{{'NAVI_OPTIONS' | translate}}
                    </li>
                </ul>
            </div>

            <div class="grid__item two-thirds full-height soft--left" data-ui-view></div>
        </div>

    </div>

</div>