<h2>{{'LABEL_GALLERY' | translate}} {{gallery.title}}</h2>

<p data-translate="DESC_ALLOW_FOREIGN_UPLOADS"></p>

<div class="settings__block">
  <div class="settings__item">
    <span class="settings__item-label" data-translate="LABEL_ALLOW_FOREIGN_UPLOADS"></span>

    <span class="settings__item-value" data-ng-if="appSettings.allowForeignUploads">
      <input type="radio"
             data-ng-model="gallery.settings.allowForeignUploads"
             data-ng-value="true"
             data-ng-change="onUploadPermissionChange()">
      <span data-translate="LABEL_ON"></span>
      <input type="radio"
             data-ng-model="gallery.settings.allowForeignUploads"
             data-ng-value="false"
             data-ng-change="onUploadPermissionChange()">
      <span data-translate="LABEL_OFF"></span><br/>
    </span>

    <span class="settings__item-action"
          data-ng-if="!appSettings.allowForeignUploads"
          data-ng-click="onAllowForeignUploadsClick()"
          data-translate="LABEL_OFF">
    </span>

    <div class="settings__item-info" data-ng-if="showAllowForeignUploadUpgradeInfo && !appSettings.allowForeignUploads">
      <p class="settings__item-info-label" data-translate="INFO_FEATURE_UPGRADE">
      </p>
      <span class="settings__item-info-action"
            data-ng-click="navigationService.go(appConstants.STATES.SETTINGS_UPGRADE_FEATURE1, 'slide-left', true)"
            data-translate="NAVI_GO_UPGRADE"></span>
    </div>

  </div>
</div>
