<div class="top">
  <div class="top__inner">
    <span class="top-icon-back icon-back" data-ng-click="back()"></span>
  </div>
</div>

<div class="center center--show-top">
  <div class="center__inner">

    <h1>Sharing album '{{gallery.title}}'</h1>

    <div class="grid full-height">
      <div class="grid__item two-thirds">
        <h3>Share your album photos through your username and album key.</h3>

        <p>
          <span class="box__label">Your username</span>
          <span class="box__value">{{userName}}</span>
        </p>

        <p>
          <span class="box__label">Album key</span>
          <span
              class="box__value">{{galleryKeySegments[0]}} - {{galleryKeySegments[1]}} - {{galleryKeySegments[2]}}</span>
        </p>

      </div>
      <div class="grid__item one-third">

        <h3>Allow public photo uploads</h3>

        <!--if foreign uploads enabled-->
        <div data-ng-if="appSettings.allowForeignUploads">
          <p>
            <input type="radio"
                   data-ng-model="gallery.settings.allowForeignUploads"
                   data-ng-value="true"
                   data-ng-change="onUploadPermissionChange()"> on
            <input type="radio"
                   data-ng-model="gallery.settings.allowForeignUploads"
                   data-ng-value="false"
                   data-ng-change="onUploadPermissionChange()"> off <br/>
          </p>
        </div>

        <p data-ng-if="gallery.settings.allowForeignUploads">
          <span class="box__label">Upload key</span><br>
          <span class="box__value">{{gallery.uploadPassword}}</span>
        </p>
        <!--if foreign uploads disabled-->
        <div data-ng-if="!appSettings.allowForeignUploads">
          <p>Please upgrade to get access to this feature.<br>
          <button data-ng-click="go('upgrade', 'slide-left')">Go to upgrades</button>
          </p>

        </div>

      </div>

    </div>


  </div>

</div>
</div>

<div class="bottom">
  <div class="bottom__inner">
    <ul class="bottom-ctrl">
      <li class="bottom-ctrl__item" data-ng-if="gallery.photos.length" data-ng-click="onSlideshowBtnClick()">
        <div class="bottom-ctrl__icon icon-play2"></div>
        <div class="bottom-ctrl__label">Slideshow</div>
      </li>
    </ul>
  </div>
</div>