<h2>{{'TITLE_PHOTOFRAME' | translate}}: {{gallery.title}}</h2>

<p>{{'SHARING_DESCRIPTION' | translate}}</p>

<div class="settings__block">
  <div class="settings__item">
    <span class="settings__item-label">{{'SHARING_ACCESS_KEY' | translate}}</span>
    <span data-ng-if="!showAccessKey"
        data-ng-click="toggleShowAccessKey()"
        class="settings__item-action">{{'SHARING_SHOW_ACCESS_KEY' | translate}}</span>
    <span data-ng-if="showAccessKey"
        data-ng-click="toggleShowAccessKey()"
        class="settings__item-action">{{'SHARING_HIDE_ACCESS_KEY' | translate}}</span>

    <div class="settings__item-info" data-ng-if="showAccessKey">
      <span class="settings__item-info-label">&nbsp;</span>
    <span
        class="settings__item-info-value">{{galleryKeySegments[0]}} - {{galleryKeySegments[1]}} - {{galleryKeySegments[2]}}</span>

    </div>
  </div>
  <div class="settings__item">
    <span class="settings__item-label">{{'SHARING_OWNER_USERNAME' | translate}}</span>
    <span class="settings__item-value">{{gallery.ownerName}}</span>
  </div>
</div>

<p>Einladung mit Zugangsdaten verschicken:</p>

<div class="settings__block">
  <div class="settings__item">
    <span class="settings__item-label">{{'SHARING_SEND_CREDENTIALS_VIA_EMAIL' | translate}}</span>
    <a class="settings__item-action" data-ng-click="go('invite', '')">{{'BTN_SEND_EMAIL' | translate}}</a>
  </div>
</div>
