<div class="top">
    <div class="top__inner">
        <h1 class="top__title" data-translate="TITLE_SETTINGS"></h1>
        <span class="top__icon-back icon-back" data-ng-click="navigationService.back()"></span>
    </div>
</div>

<div class="center center--show-top">
    <div class="center__inner">

        <div class="grid full-height">
            <div class="grid__item one-third full-height soft--right">
                <ul class="settings-menu">
                    <li class="settings-menu__item"
                        data-ng-class="{ active: $state.includes('settings.gallery') }">
                        <a data-ui-sref="settings.gallery" data-translate="NAVI_GALLERY"></a>
                    </li>
                    <li class="settings-menu__item"
                        data-ng-class="{ active: $state.includes('settings.slideshow') }">
                        <a data-ui-sref="settings.slideshow" data-translate="NAVI_SLIDESHOW"></a>
                    </li>
                    <li class="settings-menu__item"
                        data-ng-class="{ active: $state.includes('settings.account') }">
                        <a data-ui-sref="settings.account.intro" data-translate="NAVI_ACCOUNT"></a>
                    </li>
                    <li class="settings-menu__item"
                        data-ng-class="{ active: $state.includes('settings.language') }">
                        <a data-ui-sref="settings.language" data-translate="NAVI_LANGUAGE"></a>
                    </li>
                    <li class="settings-menu__item"
                        data-ng-class="{ active: $state.includes('settings.upgrade') }">
                        <a data-ui-sref="settings.upgrade.intro" data-translate="NAVI_UPGRADE"></a>
                    </li>
                </ul>

            </div>

            <div class="grid__item two-thirds full-height soft--left" data-ui-view></div>

        </div>

    </div>
</div>
