<!--settings view-->

<div class="top">
  <div class="top__background"></div>
  <div class="top__inner">
  </div>
</div>

<div class="center">
  <div class="center__inner text-center">

    <form name="myForm">
      <p>
        <label>Allow uploads</label><br/>
        <input type="radio" data-ng-model="gallerySettings.allowForeignUploads" data-ng-value="true"> Yes <br/>
        <input type="radio" data-ng-model="gallerySettings.allowForeignUploads" data-ng-value="false"> No <br/>
      </p>

    </form>


  </div>
</div>


<div class="bottom">
  <div class="bottom__background"></div>
  <div class="bottom__inner">

  </div>
</div>

