<form class="form" data-ng-submit="onGetGalleryStep2Submit()">

  <p class="push--bottom" data-translate="DESC_SUBSCRIBE_STEP_2"></p>

  <p class="form__label" data-translate="LABEL_ACCESS_CODE">
    <span class="text-red" data-ng-if="galleryKeyError" data-translate="LABEL_INVALID_ACCESS_CODE"></span>
  </p>

  <div class="text-center">
    <input class="form__text-input number-pad-input"
           data-ng-class="{'error': galleryKeyError}"
           style="width:200px;"
           type="password"
           data-ng-model="galleryCredentials.galleryAccessPassword"/>

    <div
        data-number-pad-directive
        data-number-pad-input="galleryCredentials.galleryAccessPassword"
        data-number-pad-input-length="6"
        data-number-pad-submit="onGetGalleryStep2Submit()">
    </div>
  </div>

</form>