<div class="top">
  <div class="top__inner">
    <span class="top__icon-back icon-back" data-ng-click="go('home', 'slide-right')"></span>
    <h1 class="top__title">{{'TITLE_NEW' | translate}}</h1>
    <span class="top__icon-settings" data-ng-click="go('/settings', 'slide-left', true)">
    <img style="width:30px;" src="img/settings.png"/>
  </span>
  </div>
</div>

<div class="center center--show-top">
  <div class="center__inner text-center">

    <div data-ng-if="!galleriesLimitReached">
      <form class="form--centered"
            name="createGalleryForm"
            data-ng-submit="submitForm(createGalleryForm.$valid)"
            novalidate>


        <p class="form__label">{{'LABEL_GALLERY_TITLE' | translate}}</p>
      <span class="form__text-input-outer">
        <input class="form__text-input"
               type="text"
               data-ng-model="createGalleryFormData.galleryTitle"
               data-ng-minlength="3"
               placeholder=""
               required/>
      </span>

        <p class="text-right">
          <button class="btn--blue" type="submit" data-ng-disabled="createGalleryForm.$invalid">{{'ACTION_CONTINUE' |
            translate}}
          </button>
        </p>
      </form>

    </div>

    <div data-ng-if="galleriesLimitReached">
      <h2>{{'INFO_LIMIT_REACHED' | translate}}</h2>

      <p>{{'INFO_GALLERIES_LIMIT' | translate}}</p>
      <p>{{'INFO_NEED_MORE' | translate}}</p>
      <p><a href="" data-ng-click="go('settings/upgrade/option1', 'slide-left', true)">{{'NAVI_GO_UPGRADE' | translate}}</a></p>

    </div>

  </div>
</div>