<!--home view-->

<div class="top">
  <div class="top__background"></div>
  <div class="top__inner">
    <span class="top-icon-back icon-back" data-ng-click="go('/home', 'slide-right')"></span>
  </div>
</div>

<div class="center center--show-top">
  <div class="center-inner">

    <form class="form"
          name="createGalleryForm"
          data-ng-submit="submitForm(createGalleryForm.$valid)"
          novalidate>
      <h1>Create a new gallery</h1>

      <p class="form__label">Enter a gallery title</p>
      <span class="form__text-input-outer">
        <input class="form__text-input"
               type="text"
               data-ng-model="createGalleryForm.galleryTitle"
               data-ng-minlength="3"
               placeholder="YOUR TITLE"
               required/>
      </span>

      <p class="text-right">
        <button class="btn--white" type="submit" data-ng-disabled="createGalleryForm.$invalid">Continue</button>
      </p>
    </form>

  </div>
</div>