<!--edit-gallery view-->

<div class="top">
  <div class="top__inner">
    <span class="top-icon-back icon-back" data-ng-click="go('/select-gallery', 'slide-right')"></span>
    <button class="settings-btn btn" data-ng-click="go('/settings', 'slide-left')">
      <span class="icon icon--settings"></span>
    </button>
  </div>
</div>

<div class="center center--show-top center--show-bottom">
  <div class="center-inner">

    <h1 class="gallery-title">{{gallery.title}}</h1>

    <div class="edit-thumbs">
      <div
          data-ng-repeat="photo in gallery.photos"
          data-ng-class="{ 'edit-thumbs__thumb': true, 'edit-thumbs__thumb--del': photo.deleted, 'edit-thumbs__thumb--new': !photo.dateOfUpload }"
          data-ng-click="togglePhoto($index)"
          style="float:left; text-align:center;">
        <img class="edit-thumbs__thumb-img"
             data-ng-src="{{thumbnails[photo.id]}}"
             data-ng-if="thumbnails[photo.id]"
             class="thumb__img"
             title="{{photo.name}}"/>

        <div class="edit-thumbs__thumb-caption"></div>
        <div class="edit-thumbs__thumb-icon-new icon-upload" data-ng-if="!photo.dateOfUpload && !photo.deleted"></div>
      </div>
    </div>

  </div>
</div>


<div class="bottom">

  <div class="bottom__inner">
    <ul class="bottom-ctrl">
      <li class="bottom-ctrl__item">
        <div class="bottom-ctrl__icon icon-add-images"></div>
        <div class="bottom-ctrl__label">Add images</div>
        <div id="controller" data-ng-controller="fileSelectionController">
          <input class="file-input" type="file" id="files" name="files[]" multiple data-file-selection-directive/>
        </div>
      </li>
      <li class="bottom-ctrl__item" data-ng-click="onShareBtnClick()" data-ng-class="{'bottom-ctrl__item--green': highlightSharingBtn}">
        <div class="bottom-ctrl__icon icon-share"></div>
        <div class="bottom-ctrl__label">Share</div>
      </li>
      <li class="bottom-ctrl__item" data-ng-if="gallery.photos.length" data-ng-click="onSlideshowBtnClick()">
        <div class="bottom-ctrl__icon icon-play2"></div>
        <div class="bottom-ctrl__label">Slideshow</div>
      </li>

      <li class="bottom-ctrl__item bottom-ctrl__item--green" data-ng-if="showUpdateBtn" data-ng-click="onUpdateBtnClick()">
        <div class="bottom-ctrl__icon icon-sync2"></div>
        <div class="bottom-ctrl__label">Apply changes</div>
      </li>
      <li class="bottom-ctrl__item" data-ng-if="showDeleteSelectionBtn" data-ng-click="onDeleteSelectionBtnClick()">
        <div class="bottom-ctrl__icon icon-del-image"></div>
        <div class="bottom-ctrl__label">Delete selection</div>
      </li>
      <li class="bottom-ctrl__item" data-ng-if="showDeleteGalleryBtn" data-ng-click="onDeleteGalleryBtnClick()">
        <div class="bottom-ctrl__icon icon-del-image"></div>
        <div class="bottom-ctrl__label">Delete gallery</div>
      </li>
    </ul>
  </div>
</div>
