<!-- slideshow view-->
<div class="top">
  <div class="top__inner">
    <span class="top__icon-back icon-back" data-ng-click="navigationService.back()"></span>
    <span class="top__icon-settings" data-ng-click="navigationService.go(appConstants.STATES.SETTINGS_INTRO, {animationClass: 'forward'})">
    <img style="width:30px; position:relative; top:-12px; cursor:pointer;" src="img/settings.png"/>
  </span>
  </div>
</div>

<div class="center" data-ng-click="onCenterClick()">

  <div data-ng-class="{'slideshow': true, 'slideshow--show-thumbs': showThumbnails}">

    <div class="slideshow-thumbs">
      <div class="slideshow-thumbs__thumb"
           data-ng-repeat="photo in photos"
           data-ng-class="{ 'thumb': true, 'slideshow-thumbs__thumb--active': activePhotoArrayIndex === $index, 'slideshow-thumbs__thumb--new': photo.viewStatus === 1}"
           data-ng-click="onThumbnailClick(photo.id, $index)">
        <img class="slideshow-thumbs__thumb-img"
             data-ng-src="{{ thumbnails[photo.id] }}"
             data-ng-show="thumbnails[photo.id]"
             title="{{photo.name}}"/>
      </div>
    </div>

    <!--<div class="slideshow-main trans-ken-burns">-->
    <div class="slideshow-main">
      <div class="slideshow-main__img-outer"
           data-ng-class="transitionClass"
           data-ng-repeat="photo in photos"
           data-ng-if="photo.id === activePhotoId"
           data-ng-class="{'slideshow__img--new': photo.viewStatus === 1}">
        <img class="slideshow-main__img" data-ng-src="{{ photoBuffer[photo.id] }}"/>
      </div>
    </div>

  </div>

</div>

<div class="bottom bottom--dark" data-ng-click="onBottomClick()">
  <div class="bottom__inner text-center">
    <ul class="bottom-ctrl bottom-ctrl--center">
      <li class="bottom-ctrl__item" data-ng-click="showPrevPhoto()">
        <div class="bottom-ctrl__icon icon-backward"></div>
      </li>
      <li class="bottom-ctrl__item" data-ng-if="!slideshowInterval" data-ng-click="startSlideshow()">
        <div class="bottom-ctrl__icon icon-play2"></div>
      </li>
      <li class="bottom-ctrl__item" data-ng-if="slideshowInterval" data-ng-click="stopSlideshow()">
        <div class="bottom-ctrl__icon icon-pause"></div>
      </li>
      <li class="bottom-ctrl__item" data-ng-click="showNextPhoto()">
        <div class="bottom-ctrl__icon icon-forward"></div>
      </li>
      <li class="bottom-ctrl__item bottom-ctrl__item--left" data-ng-click="toggleThumbnails()">
        <div class="bottom-ctrl__icon icon-thumbs"></div>
      </li>
    </ul>
  </div>
</div>
