<!-- slideshow view-->
<div class="top top--dark">
  <div class="top__inner">
    <span class="top-icon-back icon-back" data-ng-click="go('/edit-gallery', 'slide-right')"></span>
  </div>
</div>

<div class="center" data-ng-click="onCenterClick()">

  <div data-ng-class="{'slideshow': true, 'slideshow--show-thumbs': showThumbnails}">

    <div class="slideshow-thumbs">
      <div class="slideshow-thumbs__thumb"
           data-ng-repeat="photo in gallery.photos"
           data-ng-class="{ 'thumb': true, 'slideshow-thumbs__thumb--active': activePhotoArrayIndex === $index, 'slideshow-thumbs__thumb--new': photo.viewStatus === 1}"
           data-ng-click="onThumbnailClick(photo.id, $index)">
        <img class="slideshow-thumbs__thumb-img"
             data-ng-src="{{ thumbnails[photo.id] }}"
             data-ng-show="thumbnails[photo.id]"
             title="{{photo.name}}"/>
      </div>
    </div>

    <div class="slideshow-main">
      <img class="slideshow__img"
           data-ng-repeat="photo in gallery.photos"
           data-ng-src="{{ photoBuffer[photo.id] }}"
           data-ng-show="photo.id === activePhotoId"
           data-ng-class="{'slideshow__img--new': photo.viewStatus === 1}"/>
    </div>

  </div>

</div>

<div class="bottom bottom--dark" data-ng-click="onBottomClick()">
  <div class="bottom__inner text-center">
    <ul class="bottom-ctrl bottom-ctrl--center">
      <li class="bottom-ctrl__item">
        <div data-ng-click="showPrevPhoto()" class="bottom-ctrl__icon icon-backward"></div>
      </li>
      <li class="bottom-ctrl__item">
        <div data-ng-if="!slideshowInterval" data-ng-click="startSlideshow()"
             class="bottom-ctrl__icon icon-play2"></div>
        <div data-ng-if="slideshowInterval" data-ng-click="stopSlideshow()" class="bottom-ctrl__icon icon-pause"></div>
      </li>
      <li class="bottom-ctrl__item">
        <div data-ng-click="showNextPhoto()" class="bottom-ctrl__icon icon-forward"></div>
      </li>
      <li class="bottom-ctrl__item bottom-ctrl__item--left">
        <div data-ng-click="toggleThumbnails()" class="bottom-ctrl__icon icon-thumbs"></div>
      </li>
    </ul>
  </div>
</div>
