<section class="message message-show">
  <div class="message__background"></div>
  <div class="message__inner">
    <button class="message__close-btn btn"><i class="icon--close"></i></button>
    <div class="message__header">
      <h2 class="message__title" data-ng-bind="message.title"></h2>
    </div>
    <div class="message__body">
      <div class="message__body-inner">
        <p>{{message.content}}</p>
      </div>
    </div>
    <div class="message__footer">
      <button class="btn--blue"
              data-ng-if="message.button"
              data-ng-bind="message.button.label"
              data-ng-click="message.button.action()">
      </button>
      <button class="close-btn btn--blue" data-translate="ACTION_CLOSE">Close</button>
    </div>
  </div>
</section>